<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ng-click点击实现显示隐藏 AngularJS测试</title>
</head>
<body>
<div ng-app="myApp" ng-controller="personCtrl">
	<button ng-click="toggle()">隐藏/显示</button>
	<p ng-hide="myVar">
		名: 	<input type="text" ng-model="firstName"><br>
		姓名: 	<input type="text" ng-model="lastName"><br>
		<br>
		Full Name: {{firstName + " " + lastName}}
	</p>
</div>
</body>
<script src="JS/angular.min.js"></script>
<script>
	var app = angular.module('myApp', []);
	app.controller('personCtrl', function($scope) {
	    $scope.firstName = "John",
	    $scope.lastName = "Doe"
	    $scope.myVar = false;
	    $scope.toggle = function() {
	        $scope.myVar = !$scope.myVar;
	    };
	});
</script>
</html>
